* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: 
    linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
    url("image.png");
  background-size: cover;
  color: white;
}

.main {
  text-align: center;
  padding: 40px;
}

.logo {
  font-size: 60px;
  color: #e50914;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

#searchInput {
  width: 300px;
  padding: 12px;
  border-radius: 5px;
  border: none;
}

#searchBtn {
  padding: 12px 20px;
  background: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#yearFilter {
  padding: 12px;
  border-radius: 5px;
}

#moviesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.movie-card {
  background: #111;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}

.movie-card h3 {
  margin: 10px 0;
}
